<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" ng-app="carsApp"> <!--<![endif]-->
<head>
    <title>Car expense tracker</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/images/fav.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles-4.css">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="assets/css/customcss.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" ng-controller="carsController as carsCtrl">

    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div class="container">
            <h1 class="logo pull-left">
                <a class="scrollto" href="">
                    <span class="logo-title" id="logo-text">Car expense tracker</span>
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a data-toggle="tooltip" data-placement="bottom" title="Under construction, please pardon bugs and database wipeouts..."><span class="glyphicon glyphicon-info-sign">Alpha</span></a></li>
                        <li class="nav-item"><a class="scrollto" href="#about" id="how-button">How...</a></li>
                        <li class="nav-item"><a class="scrollto" href="#" data-toggle="modal" data-target="#loginModal" ng-hide="carsCtrl.user[0]">Login</a></li>
                        <li class="nav-item"><a class="scrollto" href="#" data-toggle="modal" data-target="#registerModal" ng-hide="carsCtrl.user[0]">Register</a></li>
                        <li class="nav-item last"><a class="scrollto" href="#" ng-show="carsCtrl.user[0]" id="logout-button">Logout</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->

    <ng-view></ng-view>



    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">... do I use it?</h2>
            <p class="intro text-center">It is hard to keep track of funds you spend to keep your vehicles running. It may be even harder not to forget to do important maintainence such as changing timing belt or flush the transmision oil. This service will help you keep things organized. All you need to do is add your cars to your account and add expenses and events you would like to keep track of.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Keep an eye on expenses</h3>
                        <p>Bills from mechanic add up as well as gas reciepts. Get a better perspective on how much exactly do you spend on your cars </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time and money saver</h3>
                        <p>Service takes time and money. Broken car costs twice more. Prevent losses easily with email notifications that tell you when your maintainence is due.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Compare gas consumption</h3>
                        <p>Enter data from gas reciepts as well as current mileage to the expenses tracker to see average mpg across all your vehicles.</p>
                    </div><!--//content-->
                </div><!--//item-->

            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->


    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Developed by Maksim Hranin</small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- ******MODALS****** -->
    <!-- Login modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Please fill the fields below</h4>
          </div>
          <div class="modal-body">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="carsCtrl.userCredentials.username" placeholder="" aria-describedby="login-email">
                <span class="input-group-addon"  id="login-email">Email</span>
             </div>
            <p></p>
             <div class="input-group">
                <input type="password" ng-model="carsCtrl.userCredentials.password" class="form-control" placeholder="" aria-describedby="login-password">
                <span class="input-group-addon"  id="login-password">Password</span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="login-close">Close</button>
            <button type="button" class="btn btn-success" ng-click="carsCtrl.login()" id="login-button">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Register modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please fill the fields below</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-describedby="register-email" ng-model="carsCtrl.userCredentials.username">
                <span class="input-group-addon" id="register-email">Email</span>
             </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="register-password" ng-model="carsCtrl.userCredentials.password">
              <span class="input-group-addon" id="register-password">Password</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" id="register-button" ng-click="carsCtrl.register()">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- New Car modal -->
    <div class="modal fade" id="carModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Car description</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-describedby="car-name" ng-model="carsCtrl.newCar.customName">
                <span class="input-group-addon" id="car-name">Name</span>
             </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-make" ng-model="carsCtrl.newCar.make">
              <span class="input-group-addon" id="car-make">Make</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-model" ng-model="carsCtrl.newCar.model">
              <span class="input-group-addon" id="car-model">Model</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-year" ng-model="carsCtrl.newCar.year">
              <span class="input-group-addon" id="car-year">Year</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-color" ng-model="carsCtrl.newCar.color">
              <span class="input-group-addon" id="car-color">Color</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-mileage" ng-model="carsCtrl.newCar.mileage">
              <span class="input-group-addon" id="car-mileage">Mileage</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" ng-click="carsCtrl.createCar()" id="newcar-button">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- New Event modal -->
    <div class="modal fade" id="new-event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Event description</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-describedby="event-name" ng-model="carsCtrl.newEvent.eventName">
                <span class="input-group-addon" id="event-name">Name</span>
             </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="event-make" ng-model="carsCtrl.newEvent.remindOnMileage">
              <span class="input-group-addon" id="event-make">Remind on mileage</span>
            </div>
            <p></p>

            <div class="input-group date" id="newdatetimepicker">
              <input type="text" class="form-control" placeholder="" aria-describedby="event-year" ng-model="carsCtrl.newEvent.nextReminder" id="newdatetimepicker-field" datetimepicker
           datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}">
              <span class="input-group-addon" id="event-year">Next reminder</span>
            </div>
            <p></p>

            <div>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="once" ng-model="carsCtrl.newEvent.remindEvery"> Once
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="week" ng-model="carsCtrl.newEvent.remindEvery"> Weekly
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="month" ng-model="carsCtrl.newEvent.remindEvery"> Monthly
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="year" ng-model="carsCtrl.newEvent.remindEvery"> Yearly
              </label>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" ng-click="carsCtrl.createEvent()" id="newevent-button">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- New Expense modal -->
    <div class="modal fade" id="new-expense-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document" id="new-expense-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Expense description</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-describedby="expense-name" ng-model="carsCtrl.newExpense.expenseName">
                <span class="input-group-addon" id="expense-name">Name</span>
             </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="expense-mileage" ng-model="carsCtrl.newExpense.mileage">
              <span class="input-group-addon" id="expense-mileage">Mileage</span>
            </div>
            <p></p>
            <div class="input-group" id="expense-newdatetimepicker">
              <input type="text" class="form-control" placeholder="" aria-describedby="event-year" ng-model="carsCtrl.newExpense.date" id="expense-newdatetimepicker-field" datetimepicker
           datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}">
              <span class="input-group-addon" id="event-year">Expense date</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="expense-model" ng-model="carsCtrl.newExpense.amountSpent">
              <span class="input-group-addon" id="expense-amount">Amount</span>
            </div>
            <p></p>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="carsCtrl.newExpense.gas"> Gas?
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" ng-click="carsCtrl.createExpense()" id="newexpense-button">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Update Expense modal -->
    <div class="modal fade" id="update-expense-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Expense description</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-describedby="expense-name" ng-model="carsCtrl.expenseToEdit.expenseName">
                <span class="input-group-addon" id="expense-name">Name</span>
             </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="expense-mileage" ng-model="carsCtrl.expenseToEdit.mileage">
              <span class="input-group-addon" id="expense-mileage">Mileage</span>
            </div>
            <p></p>
            <div class="input-group" id="expense-updatedatetimepicker">
              <input type="text" class="form-control" placeholder="" aria-describedby="expense-date" ng-model="carsCtrl.expenseToEdit.date" id="expense-updatedatetimepicker-field" datetimepicker
           datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}">
              <span class="input-group-addon" id="expense-date">Expense date</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="expense-model" ng-model="carsCtrl.expenseToEdit.amountSpent">
              <span class="input-group-addon" id="expense-amount">Amount</span>
            </div>
            <p></p>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="carsCtrl.expenseToEdit.gas"> Gas?
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="carsCtrl.deleteExpense()" id="deleteexpense-button">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" ng-click="carsCtrl.updateExpense()" id="updateexpense-button">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Update Car modal -->
    <div class="modal fade" id="updateCarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Car description</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-describedby="car-name" ng-model="carsCtrl.carToEdit.customName">
                <span class="input-group-addon" id="car-name">Name</span>
             </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-make" ng-model="carsCtrl.carToEdit.make">
              <span class="input-group-addon" id="car-make">Make</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-model" ng-model="carsCtrl.carToEdit.model">
              <span class="input-group-addon" id="car-model">Model</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-year" ng-model="carsCtrl.carToEdit.year">
              <span class="input-group-addon" id="car-year">Year</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-color" ng-model="carsCtrl.carToEdit.color">
              <span class="input-group-addon" id="car-color">Color</span>
            </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="car-mileage" ng-model="carsCtrl.carToEdit.mileage">
              <span class="input-group-addon" id="car-mileage">Mileage</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="carsCtrl.deleteCar()">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" ng-click="carsCtrl.updateCar($event)" id="updatecar-button">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Update Event modal -->
    <div class="modal fade" id="update-event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Event description</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-describedby="event-name" ng-model="carsCtrl.eventToEdit.eventName">
                <span class="input-group-addon" id="event-name">Name</span>
             </div>
            <p></p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-describedby="event-make" ng-model="carsCtrl.eventToEdit.remindOnMileage">
              <span class="input-group-addon" id="event-make">Remind on mileage</span>
            </div>
            <p></p>
            <div class="input-group" id="updatedatetimepicker">
              <input type="text" class="form-control" placeholder="" aria-describedby="event-year" ng-model="carsCtrl.eventToEdit.nextReminder" id="updatedatetimepicker-field" datetimepicker
           datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}">
              <span class="input-group-addon" id="event-year">Next reminder</span>
            </div>
            <p></p>

            <div>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="once" ng-model="carsCtrl.eventToEdit.remindEvery"> Once
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="week" ng-model="carsCtrl.eventToEdit.remindEvery"> Weekly
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="month" ng-model="carsCtrl.eventToEdit.remindEvery"> Monthly
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="year" ng-model="carsCtrl.eventToEdit.remindEvery"> Yearly
              </label>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="carsCtrl.deleteEvent()" id="deleteevent-button">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" ng-click="carsCtrl.updateEvent($event)" id="updateevent-button">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Javascript -->
    <!-- Vendor js files -->

    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="app/ui.js"></script>

    <!-- Angular main -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>

    <!-- Chart -->
    <script type="text/javascript" src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

    <!-- Datepicker -->
    <script type="text/javascript" src="/bower_components/angular-bootstrap-datetimepicker-directive/angular-bootstrap-datetimepicker-directive.min.js"></script>

    <!-- Angular route -->
    <script type='text/javascript' src='bower_components/angular-route/angular-route.js'></script>

    <!-- Angular chart.js -->
    <script type='text/javascript' src="bower_components/angular-chartjs-directive/chartjs-directive.js"></script>

    <!-- Angular app -->
    <script type='text/javascript' src='app/app.js'></script>

    <!-- Angular controller -->
    <script type='text/javascript' src='app/controllers/carsController.js'></script>

    <!-- Angular factory -->
    <script type='text/javascript' src='app/factories/carsFactory.js'></script>

    <!-- Angular values -->
    <script type='text/javascript' src='app/services/values.js'></script>
</body>
</html>
