.mainheaders {
  color: white;
}

a {
  color: inherit;
}

#statsheader {
  margin-top: -50px;
  margin-bottom: 50px;
}

#carbuttons, #graphsrow, #carpicheader {
  margin-bottom: 50px;
}

#car {
  width: 600px;
}

.plus {
  margin-left: 20px;
  font-size: 150%;
}

.lists {
  margin-left: 50px;
}

#allcarsbutton {
  background-color: #F7464A;
  margin-left: 20px;
}

#donutgraphdiv, #expensesgraphdiv, #gasgraphdiv {
  height: 390px;
  width: 390px;
}
