@font-face {
    font-family: 'Blessed';
    src: url('../fonts/blessed.otf');
}

.mainheaders {
  color: white;
}

a {
  color: inherit;
}

#statsheader {
  margin-top: -50px;
  margin-bottom: 50px;
}

#carbuttons, #graphsrow, #carpicheader {
  margin-bottom: 50px;
}

#car {
  width: 600px;
}

.plus {
  margin-left: 20px;
  font-size: 150%;
}

.lists {
  margin-left: 50px;
}

#allcarsbutton {
  background-color: #F7464A;
  margin-left: 20px;
}

#donutgraphdiv, #expensesgraphdiv, #gasgraphdiv {
  height: 390px;
  width: 390px;
}

#how-button {
  color: #2a8889;
}

#logo-text {
  font-family: 'Blessed';
  font-size: 300%;
  font-weight: normal;
}

#navbar-collapse {
  margin-top: 20px;
}

.modal-dialog {
  margin-top: 17%;
  width: 350px;
}

#edit-glyphicon, #add-glyphicon {
  padding-right: 15px;
}

#addcar-text, #editcar-text {
  margin-left: 5px;
}

.btn-danger {
  background-color: #F7464A;
  margin-right: 50px;
}

.btn-success {
  background-color: #50C8C9;
}

.glyphicon.spinning {
    margin-right: 10px;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

#event-make-addon, #eventdate-dropdown {
  height: 34px;
}

#perioddiv {
  margin-top: -30px;
  margin-bottom: 20px;
}

.glyphicon-ok {
  margin-left: 10px;
  color: green;
}
