<section id="promo" class="promo section offset-header">
  <div class="main container text-center">

    <!-- Cars row -->
    <div class="row">
      <ul ng-repeat="car in carsCtrl.cars" style="list-style-type:none">
        <li href="#/cars/{{car.id}}">
          {{car.customName}}
        </li>
      </ul>
      <button type="button" class="btn btn-primary btn-sm">Add car</button>
    </div><!-- //Cars row -->

    <!-- Statistics -->
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <h3>Statistics</h3>
      </div>
    </div><!-- // Statistics row-->

    <!-- Graphs row -->
    <div class="row">

      <div class="graph col-md-4 col-sm-6 col-xs-12">
        <canvas id="expensecategory-graph" width="300" height="300"></canvas>
      </div>

      <div class="graph col-md-4 col-sm-6 col-xs-12">
        <canvas id="avgmileage-graph" width="300" height="300"></canvas>
      </div>

      <div class="graph col-md-4 col-sm-6 col-xs-12">
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-legend="true" chart-series="series"
          chart-click="onClick" width="300" height="300">
        </canvas>
      </div>

    </div><!-- // Graphs row -->

    <!-- Expenses and Events -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="mainheaders">Expenses and Events</h3>
      </div>
    </div><!-- // Expenses and Events row -->

    <!-- Events and Expenses row -->
    <div class="row">

      <div class="eventsexp col-md-6 col-sm-6 col-xs-12">
        <div id="expenselist">
          <ul ng-repeat="expense in carsCtrl.expenses" style="list-style-type:none">
            <li href="#" id="{{expense.id}}">
              {{expense.expenseName}}
            </li>
          </ul>
        </div>

        <div>
          <h4 class="mainheaders">List of expenses</h4>
          <button type="button" class="btn btn-primary btn-sm">Add expense</button>
        </div>
      </div>

      <div class="eventsexp col-md-6 col-sm-6 col-xs-12">
        <div id="eventlist">
          <ul ng-repeat="event in carsCtrl.events" style="list-style-type:none">
            <li>
              <a href="#/events/{{event.id}}">{{event.eventName}}</a>
            </li>
          </ul>
        </div>

        <div>
          <h4 class="mainheaders">List of events</h4>
          <button type="button" class="btn btn-primary btn-sm">Add event</button>
        </div>
      </div>

    </div><!-- // Events and expenses row -->


  </div><!--//container-->
</section>
