<section id="promo" class="section offset-header">
  <div class="container text-center">

    <!-- Cars row -->
    <div class="row">

    </div><!-- //Cars row -->

    <!-- Graphs row -->
    <div class="row">

      <div class="graph col-md-4 col-sm-6 col-xs-12">
      </div>

      <div class="graph col-md-4 col-sm-6 col-xs-12">
      </div>

      <div class="graph col-md-4 col-sm-6 col-xs-12">
      </div>

    </div><!-- // Graphs row -->

    <!-- Events and Expenses row -->
    <div class="row">

    </div><!-- // Events and expenses row -->


  </div><!--//container-->
</section>
