<section id="promo" class="promo section offset-header">
  <div class="main container text-center">

    <!-- Cars row -->
    <div class="row">
      <!-- <ul ng-repeat="car in carsCtrl.cars" style="list-style-type:none">
        <li>
          <a href="#/cars/{{car.id}}">{{car.customName}}</a>
        </li>
      </ul> -->

      <div class="btn-group" role="group" aria-label="..." ng-repeat="car in carsCtrl.cars">
        <button type="button" class="btn btn-default" id="{{car.carId}}" ng-click="carsCtrl.getCarsData($event)">{{car.customName}}</button>
      </div>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="carsCtrl.getCarsData($event)" id="">All cars</button>
      </div>

      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#carModal" ng-click="carsCtrl.createCar()">Add car</button>
    </div><!-- //Cars row -->

    <!-- Statistics -->
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <h3>Statistics</h3>
      </div>
    </div><!-- // Statistics row-->

    <!-- Graphs row -->
    <div class="row">

      <div class="graph col-md-4 col-sm-6 col-xs-12">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="carsCtrl.chartData.expenseStructure.data"
          chart-labels="carsCtrl.chartData.expenseStructure.labels" chart-legend="true"
          chart-click="onClick" width="200" height="200">
      </div>

      <div class="graph col-md-4 col-sm-6 col-xs-12">
        <canvas id="polar-area" class="chart chart-polar-area" chart-data="carsCtrl.chartData.sumOfExpenses.data"
          chart-labels="carsCtrl.chartData.sumOfExpenses.labels" chart-legend="true" width="200" height="200">
        </canvas>
      </div>


      <div class="graph col-md-4 col-sm-6 col-xs-12">
        <canvas id="line" class="chart chart-line" chart-data="carsCtrl.chartData.gasExpenses.data"
          chart-labels="carsCtrl.chartData.gasExpenses.labels" chart-legend="true" chart-series="carsCtrl.chartData.gasExpenses.series"
          chart-click="onClick" width="200" height="200">
        </canvas>
      </div>

    </div><!-- // Graphs row -->

    <!-- Expenses and Events -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="mainheaders">Expenses and Events</h3>
      </div>
    </div><!-- // Expenses and Events row -->

    <!-- Events and Expenses row -->
    <div class="row">

      <div class="eventsexp col-md-6 col-sm-6 col-xs-12">

        <div>
          <h4 class="mainheaders">List of expenses</h4>
          <button type="button" class="btn btn-primary btn-sm">Add expense</button>
        </div>

        <div id="expenselist">
          <ul ng-repeat="expense in carsCtrl.expenses" style="list-style-type:none">
            <li>
              <a class="expenselinks" href="#/expenses/{{expense.id}}">{{expense.expenseName}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="eventsexp col-md-6 col-sm-6 col-xs-12">

        <div>
          <h4 class="mainheaders">List of events</h4>
          <button type="button" class="btn btn-primary btn-sm">Add event</button>
        </div>

        <div id="eventlist">
          <ul ng-repeat="event in carsCtrl.events" style="list-style-type:none">
            <li>
              <a class="eventlinks" href="#/events/{{event.id}}">{{event.eventName}}</a>
            </li>
          </ul>
        </div>
      </div>

    </div><!-- // Events and expenses row -->


  </div><!--//container-->
</section>
